## .NET / Blazor
bin/
obj/
*.user
*.suo
.vs/
*.rsuser

## NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Rider / JetBrains
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
desktop.ini

## Publish output
publish/
