@namespace SpinningWheel.Components.Atoms

<button type="button"
        class="icon-button"
        aria-label="@AriaLabel"
        title="@AriaLabel"
        @onclick="OnClick">
    @ChildContent
</button>
