@namespace SpinningWheel.Components.Templates

<div class="spinning-wheel-layout">
    <header class="spinning-wheel-layout__header">
        @Header
    </header>
    <div class="spinning-wheel-layout__input">
        @Input
    </div>
    <section class="spinning-wheel-layout__wheel">
        @Wheel
    </section>
    <section class="spinning-wheel-layout__names">
        @Names
    </section>
</div>
